<ion-card>
  <ion-card-header>
    <ion-card-title>{{receta?.titulo}}</ion-card-title>
    <ion-card-subtitle><a href={{receta?.descripcion}}>{{receta?.descripcion}}</a></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div id="div-receta">
      <!--<img alt="{{receta?.titulo}}" src="../../../assets/images/{{receta?.foto}}" id="img-receta"/>-->
      <ion-thumbnail>
        <img alt="{{receta?.titulo}}" src="../../../assets/images/{{receta?.foto}}" id="img-receta"/>
      </ion-thumbnail>
      <ion-checkbox id="{{receta?.titulo}}" class="compra">Agregar a la lista de Compra</ion-checkbox>
    </div>

    <ion-label color="danger">{{receta?.tipo}}</ion-label>
  </ion-card-content>
</ion-card>
