ion-content {
    --background: rgba(202, 44, 147, 0.5);
}

ion-input {
    width: 13rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

    font-weight: bold;
}

ion-button {
    margin-left: 1rem;
    margin-bottom: 1rem;
}